Repository Leaflet/Leaflet, pull requests merged in 2020-09, with the labels that each got.

#7252 Release 1.7.1
  CHANGELOG.md
  docs/_config.yml
  docs/_posts/2020-09-04-leaflet-1.7.1.md
  docs/download.md
  docs/index.html
  docs/reference-1.7.1.html
  docs/reference-versions.html
  docs/reference.html
  package.json
  spec/suites/map/handler/Map.DragSpec.js
Labels: docs

#7263 Upgrade Leafdoc to 2.2.1; redo docs for 1.7.1
  docs/reference-1.7.1.html
  package.json
  src/layer/VideoOverlay.js
Labels: bug, docs

#7280 Introduced accessibility in zoom and Layer control
  src/control/Control.Zoom.js
Labels: accessibility
