Repository Leaflet/Leaflet, pull requests merged in 2021-11, with the labels that each got.

#7126 DomEventSpec.js: add more tests
  spec/suites/dom/DomEventSpec.js
Labels: tests

#7461 Fix tests failing in IE
  spec/karma.conf.js
  spec/suites/dom/DomEventSpec.js
  spec/suites/layer/ImageOverlaySpec.js
  spec/suites/layer/tile/TileLayerSpec.js
  spec/suites/map/MapSpec.js
  spec/suites/map/handler/Map.KeyboardSpec.js
Labels: compatibility, tests

#7180 new plugin "leaflet-geoserver-request"
  docs/plugins.md
Labels: docs, plugins

#7690 Add new plugin: Open User Map
  docs/plugins.md
Labels: docs, plugins

#7663 Added leaflet-route-print to plugin list
  docs/plugins.md
Labels: docs, plugins

#7065 Added a new plugin to Mouse Coordinates
  docs/plugins.md
Labels: docs, plugins

#6786 TileLayer: fire a 'tileabort' event when a tile load is cancelled
  src/layer/tile/TileLayer.js
Labels: feature

#7619 Leaflet.Notifications plugin
  docs/plugins.md
Labels: docs, plugins

#7423 Add AutoGraticule and FreieTonne plugins to docs
  docs/plugins.md
Labels: docs, plugins

#7553 Added plugin for one finger zoom
  docs/plugins.md
Labels: docs, plugins

#7626 leaflet-geojson-vt plugin added
  docs/plugins.md
Labels: docs, plugins

#7534 new plugins: Leaflet.glify, Leaflet.glify.layer
  docs/plugins.md
Labels: docs, plugins

#7724 Drop PhantomJS from test suite
  .github/workflows/main.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  spec/index.html
  spec/karma.conf.js
Labels: tests, workflow

#7725 Update dependencies to latest version and add Dependabot config
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

#7723 Continue running tests even if one fails
  .github/workflows/main.yml
Labels: feature, tests

#7623 New plugin: Leaflet.MousePosition.ts
  docs/plugins.md
Labels: docs, plugins

#7415 DomEvent.Pointer: simplify and cover by tests
  spec/index.html
  spec/suites/SpecHelper.js
  spec/suites/dom/DomEvent.PointerSpec.js
  src/dom/DomEvent.Pointer.js
Labels: refactoring, tests

#7736 Tests: remove non-functional Firefox setting
  .github/workflows/main.yml
  spec/karma.conf.js
Labels: tests

#7312 Add Leaflet.CenterMarker to list of plugins
  docs/plugins.md
Labels: docs, plugins

#7742 Proper browser profiles
  .github/workflows/main.yml
  spec/karma.conf.js
Labels: tests

#7050 Plugins.md - Leaflet.Control.Select added to the list of plugins
  docs/plugins.md
Labels: docs, plugins

#7053 Added plugin Leaflet.AnimatedSearchBox to plugins.md
  docs/plugins.md
Labels: docs, plugins

#7748 Fixup #7518
  src/core/Events.js
  src/map/Map.js
Labels: tests

#7236 New plugin: Leaflet.Autocomplete
  docs/plugins.md
Labels: docs, plugins

#7756 Class.include: keep parent options
  spec/suites/core/ClassSpec.js
  src/core/Class.js
Labels: feature

#7484 plugin: leaflet-layervisibility
  docs/plugins.md
Labels: docs, plugins

#6500 Adding Leaflet control Routetoaddress
  docs/plugins.md
Labels: docs, plugins

#7408 New Plugin: Azure Maps basemap provider
  docs/plugins.md
Labels: docs, plugins

#7764 L.Control.Attribution: encapsulate some code from L.Layer
  src/control/Control.Attribution.js
  src/layer/Layer.js
Labels: refactoring

#7703 Make docs headings sticky
  docs/docs/css/main.css
  docs/docs/css/reference.css
Labels: docs

#7147 Tests for L.GeoJSON static functions
  spec/suites/layer/GeoJSONSpec.js
Labels: tests

#7602 simplify, update description - geojson is popular
  docs/examples/geojson/index.md
Labels: docs

#7437 Add Leaflet.HighlightableLayers and Leaflet.DraggableLines plugins to docs
  docs/plugins.md
Labels: docs, plugins

#7781 Fixup #7068 and add test
  spec/suites/layer/vector/CanvasSpec.js
  src/layer/vector/Canvas.js
Labels: bug

#6843 Reset width & padding to prevent cascading CSS from breaking image rendering
  dist/leaflet.css
Labels: feature

#7793 Fix current error in the maser (SVG width: auto in IE)
  dist/leaflet.css
Labels: bug

#7412 Add leaflet-place-groups-picker to plugins list
  docs/plugins.md
Labels: docs, plugins

#7392 Add my own plugin GEOLET to plugins.md
  docs/plugins.md
Labels: docs, plugins

#7367 Adding leaflet-area-selection to the plugin list
  docs/plugins.md
Labels: docs, plugins

#6547 Plugins: Server-Sent-Events
  docs/plugins.md
Labels: docs, plugins

#6534 Added GeoRasterLayer Plugin
  docs/plugins.md
Labels: docs, plugins

#7802 Add Leaflet.NonTiledLayers to plugins
  docs/plugins.md
Labels: plugins

#7786 Update plugins.md (Leaflet.Signposts)
  docs/plugins.md
Labels: plugins

#7808 add/removePointerListener: tolerate wrong event names
  spec/suites/dom/DomEvent.PointerSpec.js
  src/dom/DomEvent.Pointer.js
Labels: bug

#7800 Add fallbacks to font-size
  dist/leaflet.css
Labels: accessibility

#7790 Add Popup keepInView test
  spec/suites/layer/PopupSpec.js
Labels: tests

#7794 Accessibility popup close button
  dist/leaflet.css
  src/layer/Popup.js
Labels: accessibility

#7792 Fix Popup keepInView if the map needs to panned over a long distance
  spec/suites/layer/PopupSpec.js
  src/layer/Popup.js
Labels: bug

#7795 Add aria-hidden to the +/- characters of zoom controls
  src/control/Control.Zoom.js
Labels: accessibility

#7103 Add documentation for Event Listens Propagate argument.
  docs/reference-1.0.3.html
  docs/reference-1.1.0.html
  docs/reference-1.2.0.html
  docs/reference-1.3.4.html
  docs/reference-1.4.0.html
  docs/reference-1.6.0.html
  src/core/Events.js
Labels: docs

#7515 Update Renderer documentation to clarify tolerance option Canvas only
  src/layer/vector/Canvas.js
  src/layer/vector/Path.js
  src/layer/vector/Renderer.js
Labels: docs

#7397 Improve panInside documentation
  src/map/Map.js
  src/map/Map.methodOptions.leafdoc
Labels: docs

#7809 Fix #7439 for mousemove
  spec/suites/layer/vector/CanvasSpec.js
  src/layer/vector/Canvas.js
Labels: bug

#7026 New TapHold handler instead of legacy Tap
  dist/leaflet.css
  spec/index.html
  spec/suites/map/handler/Map.TapHoldSpec.js
  src/dom/Draggable.js
  src/map/Map.js
  src/map/handler/Map.Tap.js
  src/map/handler/Map.TapHold.js
  src/map/index.js
Labels: feature, bug, needs review

#6443 [GridLayer] redraw tiles properly after changing maxNativeZoom
  spec/suites/layer/tile/GridLayerSpec.js
  src/layer/tile/GridLayer.js
Labels: bug

#7816 Simplifiy examples
  docs/examples/choropleth/example-basic.md
  docs/examples/choropleth/example-color.md
  docs/examples/choropleth/example.md
  docs/examples/crs-simple/crs-simple-example2.md
  docs/examples/crs-simple/crs-simple-example3.md
  docs/examples/custom-icons/example-one-icon.md
  docs/examples/custom-icons/example.md
  docs/examples/extending/canvascircles.md
  docs/examples/extending/gridcoords.md
  docs/examples/extending/kittenlayer.md
  docs/examples/extending/watermark.md
  docs/examples/geojson/example.md
  docs/examples/geojson/geojson-example.html
  docs/examples/layers-control/example.md
  docs/examples/mobile/example.md
  docs/examples/quick-start/example-basic.md
  docs/examples/quick-start/example-overlays.md
  docs/examples/quick-start/example-popups.md
  docs/examples/quick-start/example.md
  docs/examples/quick-start/index.md
  docs/examples/video-overlay/example-bounds.md
  docs/examples/video-overlay/example-nocontrols.md
  docs/examples/video-overlay/example.md
  docs/examples/wms/wms-example3.md
  docs/examples/zoom-levels/example-delta.md
  docs/examples/zoom-levels/example-fractional.md
  docs/examples/zoom-levels/example-scale.md
  docs/examples/zoom-levels/example-setzoom.md
Labels: docs

#7820 Tests: simplify .near and .nearLatlng usage
  spec/suites/SpecHelper.js
  spec/suites/geo/CRSSpec.js
  spec/suites/geo/ProjectionSpec.js
  spec/suites/layer/vector/CircleSpec.js
  spec/suites/layer/vector/PolygonSpec.js
  spec/suites/layer/vector/PolylineSpec.js
Labels: tests

#7815 Update zoom buttons docu text
  src/control/Control.Zoom.js
Labels: docs
