Repository Leaflet/Leaflet, pull requests merged in 2021-10, with the labels that each got.

#7677 Upgrade to latest version of Rollup
  build/banner.js
  build/rollup-config.js
  build/rollup-watch-config.js
  package-lock.json
  package.json
  spec/karma.conf.js
Labels: needs investigation, dependencies

#7460 Clarify zoomend event
  docs/reference-1.7.1.html
  src/map/Map.js
Labels: docs

#7665 Fix broken URLs in plugins.md
  docs/plugins.md
Labels: docs, plugins

#7714 Add L.Donut to Plugins
  docs/plugins.md
Labels: docs, plugins
