Repository Leaflet/Leaflet, pull requests merged in 2022-02, with the labels that each got.

#7274 Apply `:hover` styles to `:focus` as well
  dist/leaflet.css
Labels: accessibility

#7973 Add command to serve docs per npm script
  CONTRIBUTING.md
  docs/Gemfile
  package.json
Labels: workflow

#7969 Hide the attribution separator from screen readers
  spec/suites/control/Control.AttributionSpec.js
  src/control/Control.Attribution.js
Labels: accessibility

#7763 LayerGroup: inherit from Interactive layer
  src/layer/LayerGroup.js
Labels: docs, needs discussion

#7983 Prevent Bundlemon from running in forks
  .github/workflows/main.yml
Labels: workflow

#7814 Add `false` to docu of Attribution prefix
  src/control/Control.Attribution.js
Labels: docs

#7956 Create l-switchbasemap and l.multiControl plugins
  docs/_plugins/layer-switching-controls/l-switchasemap.md
  docs/_plugins/user-interface/L.multiContol.md
Labels: plugins

#7982 Fix scrolling in docs
  docs/docs/css/main.css
  docs/docs/js/docs.js
Labels: docs

#7277 docs: add accessibility section to plugins guide
  PLUGIN-GUIDE.md
Labels: docs, accessibility

#7777 Add DivOverlay to menu
  build/docs-index.leafdoc
  build/leafdoc-templates/html.hbs
Labels: docs

#7991 Fix responsiveness of media elements in all docs
  docs/docs/css/main.css
Labels: docs

#8002 Compress images for tutorials
  docs/examples/choropleth/thumbnail.png
  docs/examples/crs-simple/thumbnail.png
  docs/examples/crs-simple/uqm_map_400px.png
  docs/examples/crs-simple/uqm_map_detail.png
  docs/examples/crs-simple/uqm_map_full.png
  docs/examples/custom-icons/thumbnail.png
  docs/examples/extending/thumbnail-1.png
  docs/examples/extending/thumbnail-2.png
  docs/examples/extending/thumbnail-3.png
  docs/examples/geojson/thumbnail.png
  docs/examples/layers-control/thumbnail.png
  docs/examples/map-panes/thumbnail.png
  docs/examples/mobile/thumbnail.png
  docs/examples/quick-start/thumbnail.png
  docs/examples/video-overlay/thumbnail.gif
  docs/examples/wms/thumbnail.png
  docs/examples/zoom-levels/thumbnail.png
Labels: docs
