Repository Leaflet/Leaflet, pull requests merged in 2022-01, with the labels that each got.

#7896 Add Leaflet Geoapify Address Search plugin
  docs/_plugins/geocoding/leaflet-geoapify-address-search.md
Labels: plugins

#7895 Update marker: role=button, alt=marker
  spec/suites/layer/marker/MarkerSpec.js
  src/layer/marker/Marker.js
Labels: accessibility

#7906 Fix issues in the layout
  docs/_layouts/v2.html
Labels: docs

#7907 Update LICENSE to 2022 and automate on website
  LICENSE
  docs/_layouts/v2.html
Labels: docs

#7905 Add bundlemon to watch bundle size
  .bundlemonrc.json
  .github/workflows/main.yml
  package-lock.json
  package.json
Labels: workflow

#7855 Fixing noConflict and merge rollup-config
  build/rollup-config.js
  build/rollup-watch-config.js
  package.json
  spec/karma.conf.js
  spec/suites/core/GeneralSpec.js
Labels: bug

#6639 Refactor Popup/Tooltip to use common code from DivOverlay
  src/layer/DivOverlay.js
  src/layer/Popup.js
  src/layer/Tooltip.js
Labels: in progress

#7921 Rename master branch to main
  .github/workflows/main.yml
  CHANGELOG.md
  CONTRIBUTING.md
  FAQ.md
  README.md
  RELEASE.md
  docs/_plugins/template.md
  docs/_posts/2012-07-30-leaflet-0-4-released.md
  docs/_posts/2012-10-25-leaflet-0-4-5-bugfix-release-and-plans-for-0.5.md
  docs/_posts/2013-01-17-leaflet-0-5-released.md
  docs/_posts/2013-06-26-leaflet-0-6-released-dc-code-sprint-mapbox.md
  docs/_posts/2013-06-28-leaflet-plugin-authoring-guide.md
  docs/_posts/2013-11-18-leaflet-0-7-released-plans-for-future.md
  docs/_posts/2015-07-15-leaflet-1.0-beta1-released.md
  docs/_posts/2015-09-01-leaflet-0.7.4-released.md
  docs/_posts/2015-10-14-leaflet-1.0-beta2-released.md
  docs/_posts/2016-03-20-debugging-touch-interactions.md
  docs/_posts/2016-04-18-leaflet-1.0-rc1.md
  docs/_posts/2016-07-16-leaflet-1.0-rc2.md
  docs/_posts/2016-08-05-leaflet-1.0-rc3.md
  docs/_posts/2016-09-27-leaflet-1.0-final.md
  docs/_posts/2016-11-21-leaflet-1.0.2.md
  docs/_posts/2017-01-23-leaflet-1.0.3.md
  docs/_posts/2017-06-27-leaflet-1.1.0.md
  docs/_posts/2017-08-08-leaflet-1.2.0.md
  docs/_posts/2018-01-15-leaflet-1.3.0.md
  docs/_posts/2018-01-18-leaflet-1.3.1.md
  docs/_posts/2018-07-17-leaflet-1.3.2.md
  docs/_posts/2018-07-18-leaflet-1.3.3.md
  docs/_posts/2018-08-21-leaflet-1.3.4.md
  docs/_posts/2018-12-30-leaflet-1.4.0.md
  docs/_posts/2019-05-08-leaflet-1.5.0.md
  docs/_posts/2019-05-08-leaflet-1.5.1.md
  docs/_posts/2019-11-17-leaflet-1.6.0.md
  docs/_posts/2020-09-04-leaflet-1.7.1.md
  docs/download.md
  docs/edit.html
  docs/examples/extending/extending-3-controls.md
  docs/index.html
  docs/plugins.md
Labels: feature

#7934 Run Bundlemon on release optimized build
  .bundlemonrc.json
  .github/workflows/main.yml
Labels: workflow

#7888 Add Leaflet.Draw.Svg to plugins
  docs/_plugins/edit-geometries/leaflet-draw-svg.md
Labels: plugins

#7957 Changed URL
  docs/_plugins/3rd-party-integration/wp-mapit.md
Labels: plugins
